{
  "GOOGLE_CLIENT_ID": "YOUR_DESKTOP_CLIENT_ID.apps.googleusercontent.com",
  "GOOGLE_CLIENT_SECRET": "YOUR_DESKTOP_CLIENT_SECRET",
  "GOOGLE_IOS_CLIENT_ID": "YOUR_IOS_CLIENT_ID.apps.googleusercontent.com"
}
